<button  mat-button [matMenuTriggerFor]="menu" > Menú </ button>
<mat-menu #menu="matMenu">
  <button button  mat-menu-item [routerLink]="['/listado']" routerLinkActive="router-link-active" > Listado de Artículos </button>
  <button button  mat-menu-item [routerLink]="['/form']" routerLinkActive="router-link-active" > Nuevo Artículo </button>
  <button button mat-menu-item [routerLink]="['/lista-servicios']">Listado de lista-servicios</button>
  <button button mat-menu-item [routerLink]="['/new-servicio']">Nuevo Servicio</button>
</mat-menu >
